
  .homeContainer {
    background-color: rgb(255, 255, 255);
    padding-top: 4vmax;
    border-bottom: 100px solid rgb(255, 255, 255);
    position: relative;
    z-index: 1;
  }
  .homeContainer > h3 {
    text-align: center;
    color: rgba(22, 20, 20, 0.904);
    padding: 4vmax;
    font-family: Montserrat,sans-serif;
  }

  
  .homeSkills {
    background-color:  #EDBF69;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* align-items: center; */
    /* margin: auto; */
    /* overflow-x: hidden; */
    width: 100%;
    transition: 0.7s;
  }
  
  .homeSkills > h3 {
    margin-top: 8vmax;
    text-align: center;
    color: white;
    margin-bottom: 4vmax;
    font-size: 4vmax;
  }
  
  
  .homeYoutube {
    background-color: white;
    padding-top: 4vmax;
    box-sizing: border-box;
    min-height: 750px;
    display: block;
    margin-top: -5px;
  }
  
  .homeYoutube > h3 {
    text-align: center;
    color: rgba(22, 20, 20, 0.904);
    padding: 4vmax;
  }
  
  .homeYoutubeWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2vmax;
    width: 80%;
    margin: auto;
  }
  
  
  
  @keyframes scrollPop {
    to {
      transform: translateY(-200%);
    }
  }
  
  @media screen and (max-width: 600px) {
    
  
  }




  /* my new css start from here */
  .myphoto{
    width: 500px;
    margin-top: 15%;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    transition: transform .6s;
}
.myphoto:hover{
  transform: scale(1.05);
}
.myphoto2{
  display: none;
}
.intro{
  font-weight: 600;
  font-family: Montserrat , Sono;
  line-height: 2.2;
  font-size: 70%;
}
.intro1{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 175%;
  color: #171c8b;
  text-align: center;
}
.intro2{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 90%;
  text-align: center;
}
.intro3{
  display: none;
}
.viewcvbtn{
  background-color: #2ba23d;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 8px 15px;
  font-weight: 600;
  margin-top: 20px;
  transition: transform .4s;
}
.viewcvbtn:hover{
  transform: scale(1.05);
}
.viewcvbtn>a{
  color: #ffffff;
}

.container{
  display: flex;
  height: 100%;
  flex-direction: row;
}
.col1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: rgb(0, 0, 0);
  margin: 50px;
  margin-right: 0%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.col2{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 50px 70px 50px 0px;
  padding: 10px;
  justify-content:center ;
  filter: drop-shadow(5px 10px 5px rgba(50, 50, 0, 0.5));
}

