.projects {
    background-color: #120E43;
    min-height: 100vh;
    padding-top: 15vmax;
  }
  
  .projects > h3 {
    text-align: center;
    color: rgb(255, 255, 255);
    position: absolute;
    /* padding: .5vmax 5vmax; */
    display: flex;
    align-items: center;
    left: 50%;
    font-family: Montserrat;
    transform: translate(-50%, -100vh);
    animation: projectHeadingAnimation 1s ease-in-out forwards;
  }
  .projects > h3 > svg {
    margin: 1vmax;
  }
  .projectsWrapper {
    /* min-height: inherit; */
    width: 100vw;
    background-color:#120E43;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5vmax;
    padding-bottom: 10vmax;
    overflow-x: hidden;
  }
  
  .projectCard {
    width: 80%;
    background-color: #CAD5E2;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.712);
    margin: 2vmax;
    border-radius: 20px;
    display: flex;
    box-shadow: 0px 0px 30px #0000009c;
    transform: translateX(-100vw);
    animation: projectCardAnimation 1s ease-in-out forwards 0.5s;
  }
  .project-img{
    max-width: 30vw;
    min-width: 250px;
    margin-top: 15px;
    border: 3px solid #ffffff;
    box-shadow: 0px 0px 20px #0000004b;
  }
  .projectCard:nth-child(even) {
    transform: translateX(100vw);
    flex-direction: row-reverse;
    animation: projectCardAnimation 1s ease-in-out forwards 1s;
  }
  
  .projectCard > div {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
    justify-content: space-around;
  }
  .project-view{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .project-view>button{
    padding: 8px 20px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: transform .5s;
  }
  .project-view>button:hover{
    transform: scale(1.07);
    cursor: pointer;
  }
  .project-view>button:nth-child(1){
    background-color: rgb(14, 168, 22);
  }
  .project-view>button:nth-child(2){
    background-color: rgb(29, 18, 189);
    margin-left: 20px;
  }
  .project-view>button>a{
    color: #fff;
  }
  .project-view>button>a:hover{
    color: #1b1b1b;
  }
  
  .projectCard > div:first-child > h5 {
    text-align: center;
    padding: 2vmax;
    font-family: Sono;
  }
  .projectCard > div:last-child {
    padding: 2vmax;
  }
  
  .projectCard > div:last-child > p {
    text-align: center;
    font-family: Montserrat;
  }
  .projectCard > div:last-child > h6 {
    font-family: "Ubuntu Mono";
    font-weight: bold;
    color: black;
  }
  
  
  @keyframes projectCardAnimation {
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes projectHeadingAnimation {
    to {
      transform: translate(-50%, -50%);
    }
  }
  
@media screen and (max-width: 800px){
  .projectCard {
    flex-direction: column;
  }
  .projectCard:nth-child(even) {
    flex-direction: column;
  }
  .projectCard > div {
    justify-content: center;
  }
}

@media screen and (max-width:450px){
  .projectCard{
    width: 100vw;
  }
}
