header {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  position: fixed;
  width: 100vw;
  height: 90px;
  overflow: visible;
  z-index: 999;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
ul > a {
  color: #272727;
  font-weight: 600;
  font-size: 18px;
}
a:hover {
  color: #171c8b;
}
.nav-item {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  align-items: center;
  justify-content: flex-end;
  gap: 80px;
  align-self: center;
  transition: 0.7s;
  margin-right: 50px;
}
.logo {
  width: 45px;
  height: 45px;
  margin-left: 40px;
  margin-top: 18px;
  border-radius: 50px;
  border: 0.5px solid #000000;
}
.nav-logo {
  display: flex;
  flex-grow: 1;
}
.menu-icon {
  width: 25px;
  margin: 30px;
  display: none;
}
.loginbtn {
  border: none;
  padding: 10px 25px;
  background-color: #171c8b;
  border-radius: 10px;
}
.loginbtn:hover {
  background-color: #11176e;
}
.loginbtn > a {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
}

@media screen and (max-width: 780px) {
  .nav-item {
    display: none;
  }
  .menu-icon {
    display: block;
    transition: 0.7s;
  }
}
@media screen and (max-width: 560px) {
  header {
    height: 70px;
  }
}