header {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  position: fixed;
  width: 100vw;
  height: 90px;
  overflow: visible;
  z-index: 999;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
ul > a {
  color: #272727;
  font-weight: 600;
  font-size: 18px;
}
a:active,
a:hover {
  color: #171c8b;
}
.nav-item {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  align-items: center;
  justify-content: flex-end;
  gap: 80px;
  align-self: center;
  transition: 0.7s;
  margin-right: 50px;
}
.logo {
  width: 45px;
  height: 45px;
  margin-left: 40px;
  margin-top: 18px;
  border-radius: 50px;
  border: 0.5px solid #000000;
}
.nav-logo {
  display: flex;
  flex-grow: 1;
}
.menu-item {
  /* border: 10px solid black; */
  position: absolute;
  right: 40px;
  top: 25px;
  outline: none;
  border: none;
}
.menu-icon {
  width: 25px;
  display: none;
  padding: 5px;
}
.loginbtn {
  border: none;
  padding: 10px 25px;
  background-color: #171c8b;
  border-radius: 10px;
}
.loginbtn:hover {
  background-color: #11176e;
}
.loginbtn > a {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
}

@media screen and (max-width: 900px) {
  .nav-item {
    display: block;
    position: absolute;
    gap: 30px;
    background: #fff;
    right: -50px;
    top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    z-index: 9;
    box-shadow: 0 10px 15px -3px rgb(46 41 51 / 8%),
      0 4px 6px -2px rgb(71 63 79 / 16%);
    transform: translateY(-300px);
    transition: transform ease-in-out 0.2s;
  }
  .nav-item.show-menu{
    width: 100%;
    transform: translateY(0px);
  }
  /* .nav-item{
    flex-direction: column;
    gap: 30px;
    margin-top: 300px;
    width: 100%;
    background-color: #120E43;
    position: absolute;
    padding-bottom: 50px;
  }
  header{
    background-color: #120E43;
  }
  ul > a{
    color: #fff;
  } */
  .menu-icon {
    display: block;
    transition: 0.7s;
  }
  .loginbtn {
    padding: 12px 35px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px #0000006e;
  }
}
@media screen and (max-width: 560px) {
  header {
    height: 70px;
  }
}
